.sign-in-form-container {
  z-index: -5;
  position: fixed;
  width: 100vw;
  height: 80vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.sign-in-form {
  position: absolute;
  width: 20rem;
  height: 28.5rem;
  padding: 0rem 3.1rem 2.7rem 3.1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at top, rgba(48, 55, 62, 0.6) 0%, rgba(28, 32, 36, 0.1) 100%);
  border-radius: 2.25rem;
}

.sign-in-form::after {    
  content: "";
  background-image: url("../../assets/frosted glass.webp");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.01;
 
  border-radius: 2.25rem;
}

.form-fields{
  width: max(15vw, 6rem);
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.form-buttons{
  width: max(15vw, 17rem);
  margin-left: auto;
  margin-right: 1.4rem;
}

.form-field{
  width: 98.44%;
  height: 3.8rem;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display:block;
  border-color: rgba(255, 255, 255, 0.3);
  text-indent: 0.7rem;
  border-width: 0.15rem;
  font-size: 1.2rem;
  font-family: "Inter-Regular";;
  border-width: 0.15rem;
}

.form-field::placeholder{
  font-family: "Inter-Regular";
  font-size: 1rem;
}

.form-field:focus{
  transition: all 0.2s ease 0s;
  outline: 3px solid steelblue;
}

.form-field.username {
  border-radius: 0.4rem 0.4rem 0 0;
  z-index: 5;
}

.form-field.password {
  z-index: 4;
  border-radius: 0 0 0.4rem 0.4rem;
  margin-bottom: 0.8vw;
}

.form-button{
  z-index: 5;
  width: 100%;
  border-radius: 0.4rem;
  margin-left: 0;
  margin-right: 0;
  display:block;
  font-family: "Inter-SemiBold";
  font-size: 1.3rem;
  padding: 0.6rem 0 0.6rem 0;
  border-width: 0.15rem;

  cursor: pointer;
}

.form-button:hover {
  background-color:rgba(255, 255, 255, 0.7);
  transition: all 0.2s ease 0s;
}

.sign-in-logo {
  width: 5rem;
  margin-bottom: 2.5rem;
  filter:brightness(0.85);
}

.sign-up-link:link {
  color:white;
  text-decoration-color: white;
	-webkit-text-decoration-color: white;
}

.sign-up-link {
  z-index: 5;
  color:white;
  text-decoration-color: white;
	-webkit-text-decoration-color: white;
}

.sign-up-link:visited {
  color:white;
  text-decoration-color: white;
	-webkit-text-decoration-color: white;
}

@font-face {
  font-family: "Inter-Regular";
  src: url('../../assets/fonts/Inter-Regular.woff') format("woff");
}