#password {
  margin-bottom: 0;
  border-radius: 0;
  position: relative;
}

#sign-up {
  height: 32rem;
  padding-bottom: 2.7rem;
}

#sign-up-logo {
  position: relative;
  top: 1.5rem;
  bottom: 1.5rem;
  width: 4rem;
  margin-bottom: 8rem;
}

.signup {
  position: absolute;
  top: 9.8rem;
  margin: 0 0;
  font-family: "Inter-Semibold";
  color: white;
}

#sign-up-confirm {
}

#sign-up-button {
  position: relative;
  top: 0.8rem;
}