.plus-frame {
}

.plus{
  position: fixed;
  top: 100px;
  left: 400px;
  right: 0;
  bottom: 0;
}

.plus-outline {
  height: 24.31rem; 
}

.plus-outline:hover {
  cursor: pointer;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 80vh;
  padding-bottom: 21vh;
  width: 100vw;
  margin:0 0;
  display: flex;
  justify-content:center;
  align-items:center;
}

/* .modal-content {
  position: relative;
  margin-bottom: 8rem;
} */