/* .ticker {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
	border-radius: 40px;
  box-sizing: border-box;
	color: #00a84f;
	display: block;
	font: 1.125rem 'Oswald', Arial, sans-serif;
	height: 80px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 4px;
	position: relative;
  text-decoration: none;
	text-transform: uppercase;
	width: 264px;
	z-index: 2;
}  */

.ticker {
  z-index: 0;
  padding: 10px;
  display: inline-block;
  border-radius: 2.25rem;

  backdrop-filter: blur(3px);

  display: flex;
  align-items: center;

    position: relative;
  top: 0%;
  right: 0%;
  bottom: 0%;
  
}

.ticker.with-border {
  
  width: 14rem;
  height: 22.75rem;

  /* position: relative;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 11.5%;
  bottom: 0%; */

  background: radial-gradient(circle at top, rgba(48, 55, 62, 0.20) 0%, rgba(28, 32, 36, 0.05) 100%);
}

.ticker.with-border::before {
  content: "";
  position: absolute;
  z-index: -20;
  inset: 0;
  padding: 0.2rem;
  border-radius: 2.25rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.01));
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

/* .ticker {
  box-sizing: border-box;
  width: 14rem;
  height: 23.25rem;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  backdrop-filter: blur(30px);
  border-radius: 36px;
} */

/* .ticker {
  box-sizing: border-box;
  width: 14rem;
  height: 23.25rem;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background-image: radial-gradient(86.83% 90.05% at 53.22% 2.96%, rgba(48, 55, 62, 0.36) 0%, rgba(28, 32, 36, 0.06) 100%), radial-gradient(circle at top left, #f00,#3020ff);
  border: double 4px transparent;
  border-radius: 80px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  backdrop-filter: blur(30px);
  border-radius: 36px;
} */

.ticker.with-border::after {    
  content: "";
  background-image: url("../../assets/frosted glass.webp");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.01;
 
  border-radius: 2.25rem;
}

.ticker.edge{
  width: 14.7rem;
  height: 23.2rem;
  z-index: -2;
  position: absolute;
  left: 0rem;
  top: 0rem;

  background: radial-gradient(circle at 50%,rgba(48, 55, 62, 0.2) 0%, rgba(28, 32, 36, 0) 100%)
}

.ticker-shadow {
  z-index: -21;
  top: 97.3%;
  left: 0.8rem;
  position: absolute;
  margin: 0 0;

  background-color: rgba(25, 25, 28, 100);
  width: 15rem;
  height: 1.8rem;
  border-radius: 50%;
  background-blend-mode: overlay;
  filter: blur(0.5rem);
}

/* .ticker-size {
  position: fixed;
  left: 100px;
  top: 100px;
  width: clamp(50px, 15vw, 30rem);
  height: 23.25rem;
} */

.xmark-container {
  z-index: 5;
  position: absolute;
  width: 1.5rem;
  top: 6%;
  left: 80%;
}

.xmark {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.xmark-container:hover {
  filter: brightness(0.95);
  cursor: pointer;
}

@font-face{
  font-family: "Inter-SemiBold";
  src: url("../../assets/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/Inter-SemiBold.woff") format("woff")
}